.images {
	background-repeat: no-repeat;
	position: relative;
	margin-left: 24%;
	width: 300px;
	height: 420px;
}

.images img:hover {
	border-radius: 50%;
    -webkit-transition: all 5s ease;
    transition: all 5s ease;
}