.images {
	background-repeat: no-repeat;
	position: relative;
	margin-left: 17%;
}

.images img:hover {
	height: 450px;
	width: 600px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}