.crossfit {
	opacity: .3;
	background-repeat: no-repeat;
	/*margin-left: 2%;*/
}

.crossfit:hover {
	opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.crossfit2 {
	opacity: .3;
	background-repeat: no-repeat;
	/*margin-left: 2%;*/
}

.crossfit2:hover {
	opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.crossfit3 {
	opacity: .3;
	background-repeat: no-repeat;
	/*margin-left: 2%;*/
}

.crossfit3:hover {
	opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}