body {
	/*background-color:#d6d7d8;*/
	margin:0;
	font-family: Verdana, sans-serif;
}

.container {
	overflow: hidden;
	/*background: #d6d7d8;*/
	width: 1200px;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

.container h1 {
	text-align: center;
	color: black;


}


a:link, a:visited {
	text-decoration: none; 
	color: white;
}

header {
	word-spacing: 4em;
	font-size: 16px;
	font-family: courier;
	height: 220px;
	width: 100%;
	background-image: url("../image/header.jpg");
	background-position: center;
	background-color: black;
	background-repeat: no-repeat;
}
 


nav {
	display: block;
	width:100%;
	height:20%;
	background-color:black; 
}

ul.nav {
	width:85%;
	margin:0 auto;
	padding: 0;
}

ul.nav > li {
	display: inline-block;
	padding-top:15px;
	padding-bottom: 15px;
	margin-left: 35px;
	/*background:#6C8BA6;*/
}
ul.nav > li:hover {
	background:#8f8f8f;
	border-radius: 35%;
	color: black;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

article {
	clear:both;
}


section {
	display:inline-block;
	margin-left: 10px;
}

.column-content {
	width:40%;
	margin-left: 25%;
	width: 600px;
	height: 500px;
	/*border: 1px solid black;*/
	text-align: center;
}

.slideshow {
	position: relative;
	overflow: hidden;
}

.images {
	background-repeat: no-repeat;
	position: relative;
	margin-left: 23%;
	width: 300px;
	height: 420px;
}




.social {
	margin-top: 20%;
	text-align: center;
	float: right;
}

.social img {
	margin-bottom: 10px;
	width: 50px;
	display:block;
	-webkit-transition:width 1s, height 1s;
    transition:width 1s, height 1s;
}

.social img:hover {
	width: 70px;

}


h1:hover {
	font-family: serif;
	-webkit-transition: all 5s ease;
	transition: all 5s ease;
}



