section {
	display:inline-block;
	float:left;
	background-color: #B7BBBD;
	margin-left: 10px;
}

.column-content {
	width:65%;
}





.column-sidebar {
	width:6%;
	text-align: center;
	float: right;
	background-color: #B7BBBD;
}